body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#4facfe,#00c6fb);
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.hero-content,
.container{
    background:white;
    padding:40px;
    border-radius:15px;
    width:450px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

h1{
    color:#1f4e79;
}

label{
    display:block;
    margin-top:15px;
    text-align:left;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid #ccc;
}

.btn{
    width:100%;
    padding:12px;
    margin-top:25px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.btn:hover{
    background:#0056b3;
}

.result{
    font-size:40px;
    color:green;
    font-weight:bold;
    margin:25px;
}