<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Student Performance Prediction</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="hero">

    <div class="hero-content">

        <h1>🎓 Smart Student Performance Prediction System</h1>

        <p>
            Predict students' Math Score using Artificial Intelligence and Machine Learning.
        </p>

        <a href="/predict">
            <button class="btn">
                Start Prediction
            </button>
        </a>

    </div>

</div>

</body>
</html>